* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: #77ACA2;
    text-align: center;
}
h1{
    font-size: 40px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    background-color: #F4E9CD;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(50, 83, 61);
    font-size: 8vmin;
}

.resetGame{
    padding: 1rem;
    font-size:1.25rem ;
    border-radius: 25px;
    background-color: #ED9390;
    
}
#newGame{
    padding: 1rem;
    font-size:1.25rem ;
    border-radius: 25px;
    background-color: #ED9390;
}
#msg{
    font-size: 8vmin;
    color:gold;
}
.hide{
    visibility: hidden;
}